a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p,
h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  widows: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
  outline: none;
}

:root {
  font-family: "DM Sans", sans-serif;
  line-height: normal;
  color: #ffffff;
  background-color: var(--black, #121212);
  --black-gray: #1d1d1d;
  --linear-gradient: (180deg, #060707 0%, #1d1d1d 100%);
  --brown: #bea69e;
  --white: #fff;
}

/* -----------------------------------Header------------------------------------ */

.header {
  /* width: 335px; */
  margin-top: 34px;
  margin-bottom: 40px;
  position: relative;
}

.logo {
  width: 127px;
  height: 20px;
}
.nav {
  display: none;
}
.nav-list-link {
}
.burger-menu-cherbox {
  appearance: none;
}
.burger-menu-btn {
  position: fixed;
  top: -10px;
  right: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: transform 1s cubic-bezier(0, 0, 1, 1) 500ms;
}

.burger-menu-icon,
.burger-menu-icon::before,
.burger-menu-icon::after {
  display: block;
  position: absolute;
  content: "";
  width: 27px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  right: 0;
}
.burger-menu-icon {
  width: 20px;
}
.burger-menu-icon::before {
  top: -8px;
}
.burger-menu-icon::after {
  top: 8px;
}

.header-wrap {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--black, #121212);
}
.group-btn-menu {
  display: flex;
  gap: 26px;
  align-items: center;
  margin-left: auto;
}
.mob-menu {
  width: 218px;
  height: 100vh;
  background-color: var(--brown, #bea69e);
  background-image: url(../img/mob-menu1x-min.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mob-menu {
    background-image: url(../img/mob-menu2x-min.jpg);
  }
}
.is-close {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.btn-mob-close {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;

  margin-right: 20px;

  margin-left: auto;
  display: block;
  margin-bottom: 128px;
}

.mob-menu-nav {
  padding: 20px;
}

.mob-menu-list {
  margin-bottom: 40px;
}
.mob-menu-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.mob-menu-list-link {
  color: var(--black, #121212);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/*------------------------------------Media-------------------------------------------- */

@media screen and(min-width: 320px) {
  .container {
    width: 335px;
  }
}
